/* root folder */
:root{
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
/* all headers settings */
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 1rem 0 0;
}
h1{
  font-size: 1.95rem;
}
h2{
  font-size: 1.55rem;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 1rem;
}
h5{
  font-size: 0.8rem;
}
h6{
  font-size: 0.65rem;
}
/* all section paragraphs */
p {
  padding-bottom: 1rem;
}
/* body tag */
body {
  background-image: linear-gradient(45deg,
    rgba(255, 192, 203, 0.507) 10%,
    pink 50%,
    #7474d1 60%,
    lightgrey 95%,
    white
  );
  background-repeat: no-repeat;
  margin: 3rem 5rem;
  box-shadow: 0px 0px 2px 2px grey;
}
/* body div */
#body {
  background-color: rgba(71, 71, 71, 0.219);
  padding: 3rem 5rem;
}
/* title of the page */
#title {
  text-decoration: underline;
}
/* all section headers */
div {
  border-bottom: solid grey 1px;
}
/* image of the tribute person */
#img-div{
  padding: 1rem;
}
#img {
  border: solid grey 1px;
  max-width: 100%;
  max-height: 15rem;
}
#img-caption {
  font-size: 0.8rem;
  font-weight: bold;
}
/* list styles */
ul {
  list-style: none;
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
}
/* table */
#table {
  align-content: center;
  border: none;
  padding: 1rem;
}
table {
  background-color: rgba(133, 119, 119, 0.26);
  padding: 1rem;
}
td{
  text-align: left;
  padding-left: 1rem;
}
.td-hdr {
  padding-left: 0rem;
  text-align: center;
  font-weight: bold;
}
/* more info links */
#more-info {
  padding: 1rem;
}
/* footer */
footer,
footer>p {
  font-weight: bold;
  font-size: 0.7rem;
  padding-top: 0.5rem;
}
/* links */
a:visited{
  color: blue;
}

/* media query */
@media screen and (max-width: 800px) {
  :root{
    font-size: 16px;
    line-height: 19px;
  }
  body{
    margin: 2rem 3rem;
    
  }
  #body{
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 400px) {
  :root{
    font-size: 16px;
    line-height: 19px;
  }
  body{
    margin: 1rem 1rem;
    
  }
  #body{
    padding: 1rem 1rem;
  }
}